.footer ul.menu-footer {
  list-style: none;
  padding-left: 0;
  float: left;
  width: 100%; }
  .footer ul.menu-footer li.menu-item-has-children {
    width: 50%;
    float: left; }
    .footer ul.menu-footer li.menu-item-has-children ul {
      list-style: none;
      padding-left: 0;
      float: left;
      width: 100%; }
      .footer ul.menu-footer li.menu-item-has-children ul li {
        width: 100%; }
