$height-top-nav: 50px;
$footer-link-col-count: 2;

.footer {
  ul.menu-footer {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    li.menu-item-has-children {
      width: 1/$footer-link-col-count * 100%;
      float:left;
      ul {
        list-style: none;
        padding-left: 0;
        float: left;
        width: 100%;
        li {
          width: 100%;
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    .navbar {
      width: 0;
    }
    .content {
      width: 100%;
    }
  }
  .row-offcanvas-right.active {
      left: 0;
      .navbar {
        right:0;
        width: 70%;
      }
  }
}
