$height-top-nav: 50px;
$footer-link-col-count: 2;
$top-nav-count: 11;
$gold-scc: #a08a25;
$gold-scc-dark: #9a6d18;
$gold-scc-2: #bc9649;
@mixin border-bot-gold {
  border-bottom: 3px solid $gold-scc;
}
html {
  height: 100%;
}
body {
  font-family: Open Sans, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  padding: 0 0 500px;
}
a {
  color: black;
  display: block;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: black;
}
a#logo {
  display: block;
  text-align: center;
}
ul {
  list-style: none;
  padding-left: 0;
}
h2 {
  background-color: $gold-scc-dark;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  font-family: Roboto Condensed, sans-serif;
}
h3 {
  font-size: 16px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 600;
}
.container {
  padding: 0;
}
.row {
  margin: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0;
}
.navbar-default {
  background-color: white;
  border: none;
  .navbar-nav > li {

  }
}
@media (min-width: 769px) {

}
@media screen and (max-width : 768px) {
  // .navbar-toggle {
  //   display: block;
  // }
  .row-offcanvas {
    .navbar {
      width: 0;
    }
    .content {
      width: 100%;
      margin: $height-top-nav;
    }
    .navbar-toggle {
      margin-top: -55px;
    }
    .navbar-collapse {
      .navbar-nav {
        background-color: white;
        margin-top: 0;
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
      }
    }
  }
  .row-offcanvas-right.active {
    left: 0;
    .navbar {
      right: 0;
      width: 70%;
    }
  }
  .navbar-default .navbar-brand {
    position: fixed;
    top: 0;
    left: 0;
  }
  a#logo {
    height: 70px;
    img {
      height: 70px;
    }
  }
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}
#push {
  height: 60px;
}
footer {
  background-color: $gold-scc-dark;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  .container.footer {
    >.row {
      >ul#nav-links {
        margin-bottom: 0;
        >li {
          @extend .heading;
          margin-bottom: 20px;
          a {
            display: block;
          }
          .dropdown-menu {
            display: block;
            position: relative;
            border: none;
            box-shadow: none;
            background-color: $gold-scc-dark;
            font-family: Open Sans, sans-serif;
            >li {
              >a {
                padding: 0;
                text-transform: none;
              }
            }
          }
        }
      }
      #search {
        form {
          display: block;
          width: 100%;
          float: left;
          margin-bottom: 30px;
          p {
            display: block;
            width: 100%;
            float: left;
            .search-field {
              width: 100%;
              float: left;
              border-radius: 7px;
              box-shadow: none;
              border: None;
              padding-left: 15px;
              background-color: #80581b;
              line-height: 2;
              color: #bc9649;
            }
            .search-button {
              float: left;
              margin-left: -30px;
              height: 15px;
              background-image: url("images/Search.png");
              background-color: transparent;
              border: none;
              background-repeat: no-repeat;
              width: 15px;
              margin-top: 7px;
            }
          }
        }
      }
      #restaurants {
        float: left;

        li {
          float: left;
          width: 18%;
          margin-right: 2%;
          img {
            width: 100%;
          }
        }
      }
      #copyrights {
        float: right;
        height: 50px;
        margin-top: 20px;
        li {
          float: right;
          text-transform: none;
          font-weight: 400;
          margin-left: 15px;
          a {
            padding: 0 15px 0 0;
            border-right: 1px solid $gold-scc-2;
            color: $gold-scc-2;
          }
        }
      }
      hr {
        border-color: $gold-scc-2;
      }
    }
  }
}
.heading {
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  body {
    padding-bottom: 1300px;
  }
  #homepage {
    >.row {
      flex-direction: column;
      #branding {
        padding-bottom: 3px;
        padding-right: 3px;
        img {
          width: 100%;
        }
      }
      #highlights {
        display: flex;
        flex-direction: column;
        margin: 0;
        >li {
          flex: 1;
          display: flex;
          padding-bottom: 3px;
          a {
            width: 100%;
            display: flex;
            flex: 1;
            background-image: url("images/membership.jpg");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: #f8f8f8;
            background-size: contain;
            color: black;
            font-size: 24px;
            font-family: Roboto Condensed;
            font-weight: 600;
            height: 90px;
            padding-left: 40%;
            padding-top: 5%;
            >span {
              display: block;
              width: 100%;
              img {
                width: 30%;
              }
            }
          }
        }
        // position: absolute;
        //
        // right: 0;
        // padding-left: 3px;
        ul {
          height: 100%;
          li {
            height: 1/3 * 100%;
          }
        }
      }
      #promotion {
        padding-right: 0;
        ul {
          li {
            a {
              display: flex;
              margin-bottom: 15px;
              padding: 10px 10px 20px 0;
              border-bottom: 1px solid lightgray;
              .one {
                flex: 1;
                img {
                  width: 90%;
                }
              }
              .two {
                flex: 2;
                h3 {
                  margin-top: 0;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      #newsnevents {
        padding-left: 0;
        h2 {
          padding: 10px 20px;
        }
        >div {
          display: block;
          >div {
            padding-left: 0;
            padding-right: 0;
          }
        }

        .inner {
          border: 1px solid lightgrey;
          a {
            img {
              width: 100%;
            }
          }
          .category {
            color: #989898;
          }
          p {
            margin: 15px;
          }
          h3 {
            margin-top: 5px;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
  body {
    padding-bottom: 1100px;
  }
  .navbar-nav {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Roboto Condensed, sans-serif;
    >li {
      width: 1/$top-nav-count * 100%;
      >a {
        text-align: center;
        border-bottom: 3px solid white;
        padding: 5px;
      }
      > a.btn-gold {
        background-color: $gold-scc;
        color: white;
        @include border-bot-gold;
      }
      >a:hover {
        @include border-bot-gold;
      }
    }
  }
  .main-action {
    display: none;
  }
  .navbar-collapse.collapse {
    padding: 0;
  }
  #homepage {
    >.row {
      display: flex;
      flex-direction: row;
      #highlights {
        >li {
          a {
            height: auto;
          }
        }
      }
      #promotion {
        padding-right: 10px;
      }
      #newsnevents {
        >div {
          display: flex;
          flex-direction: column;
          >div {
            margin-bottom: 5px;
          }
        }
      }
    }

  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    padding-bottom: 800px;
  }
  #homepage>.row #newsnevents>div {
    flex-direction: row;
    >div:last-of-type {
      padding-left: 3px;
    }
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    padding-bottom: 700px;
  }
}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
